body {
    background: url(/images/1.jpg?bd8fc47640eaee970aaae63f35593920) no-repeat center center fixed;
    background-size: cover;
}

span {
    font-weight: bolder;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-weight: bold;
}

/* position of the left panel (title) */
.left-panel {
    position: fixed;
    width: 400px;
    height: 200px;
    left: 0%;
    top: 35%;
    margin-left: 5%;
}

/* position of the login form */
.form-div {
    position: fixed;
    width: 400px;
    height: 200px;
    left: 30%;
    top: 35%;
    margin-left: 35%;
}

