/* custom colors and fonts */

/* colors */
.green-custom {
    color: #48695c;
}

.orange-custom {
    color: #dd7f1e;
}

.gray-custom {
    color: #949d99;
}

.white-custom {
    color: #f6f6f6;
}

.black-custom {
    color: #000000;
}

.red-custom {
    color: #ff5757;
}

/* bg-colors */
.bg-green-custom {
    background-color: #48695c;
}

.bg-orange-custom {
    background-color: #dd7f1e;
}

.bg-gray-custom {
    background-color: #949d99;
}

.bg-white-custom {
    background-color: #f6f6f6;
}

.bg-black-custom {
    background-color: #000000;
}

.bg-red-custom {
    background-color: #ff5757;
}

/* fonts */
.semi-bold {
    font-family: "montserrat-semi-bold", sans-serif;
}

.classic {
    font-family: "Montserrat", sans-serif;
}

/* custom fonts */
.font-1rem {
    font-size: 1.3rem;
}

.border-navbar {
    border-bottom: #dd7f1e 2px solid;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: white 4px solid;
}

.avatar-user {
    border-radius: 50%;
    border: white 4px solid;
    width: 150;
    height: 150;
}

@media (max-width: 768px) {
    .navbar-responsive {
        font-size: 1.5rem;
    }
    .avatar-user {
        border: white 3px solid;
        width: 100;
        height: 100;
    }
}

@media (max-width: 425px) {
    .navbar-responsive {
        font-size: 1rem;
    }
    .avatar-user {
        border: white 2px solid;
        width: 80;
        height: 80;
    }
}
