body {
    background: url("../bg-images/4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.add-new-button {
    cursor: pointer;
    width: 40;
    height: 40;
}

.card-image {
    position: absolute;
    top: -45 !important;
}

.project-image {
    border-radius: 50%;
    width: 70;
    height: 70;
    border: white 4px solid;
}

.academies-circles {
    border-radius: 150px 150px 0 0;
    font-size: 0.7rem;
}

.applicants {
    border-radius: 50%;
    position: absolute;
    top: -40;
    right: -30;
}

.btn-outline-success {
    border: none !important;
    border-color: unset !important;
    background-color: #48695c !important;
    color: white;
}

.btn-outline-success:hover {
    color: #fff;
    background-color: #48695c !important;
    border-color: #48695c !important;
}
.btn-check:active + .btn-outline-success,
.btn-check:checked + .btn-outline-success,
.btn-outline-success.active,
.btn-outline-success.dropdown-toggle.show,
.btn-outline-success:active {
    color: #fff;
    background-color: #48695c !important;
    border-color: #48695c !important;
}

.font-applicants {
    font-size: 0.8rem;
}

.card-footer {
    border-top: none !important;
}
