body {
    background: url("../bg-images/2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 3rem;
    font-weight: bolder;
}

label {
    font-size: 1.5rem;
    font-weight: bolder;
}
/* custom inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
    border: none;
    border-bottom: 5px solid black;
    background-color: unset !important;
}

/* custom textarea */
textarea {
    border: none !important;
    outline: none !important;
    background-color: unset !important;
    overflow: hidden;
    resize: none;
}
